<% include ./partials/header.ejs %>

<!-- Search function -->
<script src="js/search.js"></script>

<h1>Movie Search</h1>

<!-- Search form -->

<div>
    <input id="mySearch">
    <button id='search'>Search</button>
</div>
<div id="contents">

</div>

<% include ./partials/footer.ejs %>
